<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.est.project.contents.mapper.ContentsMapper">
	
	<sql id="boardColumns">
    	BRD_SQ
    	, MBR_SQ
   	 	, BRD_TTL
    	, BRD_CONT
    	, BRD_DEL_YN
    	, BRD_RECMMND_CNT
    	, BRD_VW_CNT
    	, BRD_SLT_YN
    	, BRD_SLT_CMMT_SQ
    	, BRD_DIV_CD
    	, BRD_DTL_DIV_CD
    	, BRD_NOTI_DIV_CD
    	, BRD_SLT_DIV_CD
    	, BRD_REGIST_DTM
	</sql>
	
	<sql id="boardConditions">
		WHERE BRD_DIV_CD = #{category}
			<if test="detailCategory != null and detailCategory != ''">
				AND BRD_DTL_DIV_CD = #{detailCategory}
			</if>
		  	AND  BRD_DEL_YN = 'N'
	</sql>

	<select id="selectBoardList" parameterType="map" resultType="com.est.project.contents.domain.Board">
		<if test="category != 'NOTI'">
		(
		SELECT 
			<include refid="boardColumns"/>
		FROM tbl_board_m
		WHERE BRD_NOTI_DIV_CD = 'Y'
		ORDER BY BRD_REGIST_DTM DESC
		LIMIT 4
		)
		UNION
		</if>
		(
		SELECT 
			<include refid="boardColumns"/>
		FROM tbl_board_m 
		<include refid="boardConditions" />
		ORDER BY 
				CASE #{sorting} WHEN "1" THEN BRD_REGIST_DTM
								WHEN "2" THEN BRD_VW_CNT
								WHEN "3" THEN BRD_RECMMND_CNT
				END DESC 
				 
		LIMIT #{limit} OFFSET #{offset}
		)
	</select>
	
	
	<select id="selectPagingCount" parameterType="map" resultType="Integer">
		SELECT count(*)
		FROM tbl_board_m 
		<include refid="boardConditions" />
	</select>
	
	


    

</mapper>